  body{
    font-family: Trebuchet MS
  }

  #charts{
    width: 95%;
    margin:auto;
  }

  #name{
    font-size: 35px;
  }

  #courtDiv{
    float:left;
    margin-right: 20px;
    margin-bottom: 20px
  }

  svg{
    border: 2px solid white;
    background-color: rgb(219, 184, 143);
    box-shadow: 0px 0px 10px gray;
  }

  #note{
    color: black;
    font-style: italic;
    margin-top: 2px;
  }

  #select{
    font-size: 20px;
    font-family: Trebuchet MS;
    width: 400px
  }

  .ui-menu-item{
    font-family: Trebuchet MS;
    font-size: 20px;
  }

  #filters{
    border: 2px solid white;
    padding: 10px;
    float: left;
    background-color: rgb(219, 184, 143);
    box-shadow: 0px 0px 5px gray;
  }

  #shotDiv{
    margin-top: 15px;
    border: 2px solid white;
    padding: 10px;
    float: left;
    background-color: rgb(219, 184, 143);
    box-shadow: 0px 0px 5px gray;
  }

  #shotTabdiv{
    max-height: 300px;
    overflow-x: scroll
  }

  body{
    background-color: lightblue
  }

  #filterTable{
    border-collapse: separate
  }

  #cont{
    float: left;
  }
  .shotTable{
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
    width: 405px;
    /* table-layout: fixed */
  }

  .shotTable tr{
    border-bottom: 1px solid gray;
  }

  .shotTable th, .shotTable td{
    padding: 2px
  }


  .fil{
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    font-size: 30px;
    text-align: center;
  }

  .qSelect{
    background-color: rgb(30,72,133);
    color: white
  }

  .mSelect{
    background-color: rgb(30,72,133);
    color: white
  }

  .tSelect{
    background-color: rgb(30,72,133);
    color: white
  }


  #toolTip{
    background-color: rgb(219, 184, 143);
    border: 1px solid white;
    color: black;
    position: absolute;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
  }

  #bbox{
    fill: white;
    box-shadow: 0px 0px 8px black;

  }
